MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest
MISTRAL_TRANSCRIPTION_MODEL=voxtral-mini-latest
MISTRAL_REALTIME_TRANSCRIPTION_MODEL=voxtral-mini-transcribe-realtime-2602
MISTRAL_SPEECH_MODEL=voxtral-mini-tts-2603
MISTRAL_VOICE_ID=c69964a6-ab8b-4f8a-9465-ec0925096ec8
